
body{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing:0.02em;}

h1 , h2 , h3 , h4 , h5 , h6 , p {margin: 0;}

.link{text-decoration: none;
    list-style: none;}

:root{
    --color-1: #4D5AE5 ;
}

ul, ol {list-style: none;
    padding-left: 0;
    margin: 0;}

img{display: block;
    max-width:100%;
    height: auto;}

header{border-bottom: 1px solid #E7E9FC;}

.heder-div{
    display: flex;
    align-items: center;}

.heder-logo{color:#000000;}

.studio1 ,
.portfolio2{
    color: #4D5AE5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.heder-buttons{display: flex;
    list-style: none;
    margin-left: 76px;
    gap: 40px;}

.heder-nav-link{font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #212121; 
    padding: 29px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.current{color: var(--color-1);
    position: relative;
    }

.current::after{
    content:'' ;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.heder-nav-link:hover ,
.heder-nav-link:focus{
    color:var(--color-1);}

.logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calk(24 / 18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-1);
    font-family:'Raleway';}

.heder-contacts-link{margin-left: auto;
    margin-top: 28px;
    margin-bottom: 28px;}

.heder-contackts{
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);}


.heder-contackts:hover ,
.heder-contackts:focus{
    color: var(--color-1);}


main{background: #FFFFFF;}

.buy{padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                       rgba(46, 47, 66, 0.7)
                                      ),
                                         url(./img_css/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    text-align: center;
    margin: 0 auto;}

.buy-text{margin-bottom: 48px;
    font-weight: 700;
    font-size: 44px;
    line-height:calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.buy-btn{
    padding: 16px 32px;
    min-width: 169px;
    background-color: var(--color-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.buy-btn:hover ,
.buy-btn:focus {background-color: #404BBF;;}

.svg{background-color: #F4F4FD;
    border-radius: 4px;
    text-align: center;
    padding: 24px 0px;}

.portfolio-main{
    padding-top: 96px;
    padding-bottom: 120px}

.portfolio-li{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);}

.portfolio-img{display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;}

.portfolio-h3{font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;}

.portfolio-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;}

.portfolio-title{padding: 32px 16px;}

.portfolio-top-title{position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    border: 0.5px solid #F4F4FD;
    border-top: 0;

    padding: 40px 32px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--color-1);}

.portfolio-wraper{position: relative;
    overflow: hidden;}

.portfolio-link{display: block;
    transition-property: box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}


.portfolio-link:hover .portfolio-top-title , 
.portfolio-link:focus .portfolio-top-title {
    transform: translateY(0);
}

.portfolio-link:hover , 
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.about-txt-1:not(:last-child){margin-right: 24px;}

.about-text{
    display:flex;
}

.warning{padding-top: 120px;}

.about-h3{margin: 8px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}

.about-p{width: 264px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;}

.main-btn{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.nav-buttons{padding: 12px 24px;
    background-color: #E7E9FC;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--color-1);
    cursor: pointer;
    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.nav-buttons:hover ,
.nav-buttons:focus{background-color: var(--color-1);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}

.about-worck{padding:120px 0px; }

.whu-worck{display: flex;
    flex-direction: row;
    gap: 24px;}

.team-soc{
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.team-soc:hover ,
.team-soc:focus {
    background-color:#404BBF;
    
}

.whu-worck-txt{text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: #212121;}

.team-txt{margin-bottom: 72px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        color: #212121;}

.about-team{display: flex;
    gap: 24px;}

.my-team{background-color: #F5F4FA;
padding:120px 0;}

.team{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
   }

.container{width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}

.team-logo-link{display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    }

.team-logo{
        width: 40px;
        height: 40px;}

.team-wraper{padding:32px 0;}


.team-h3{margin-bottom:8px ;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.team-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #757575;}

.customers{
    padding: 120px 0;}

.customers-text{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}

.customers-logo-link{display: flex;
    justify-content: center;
    gap: 24px;
}

.costomers-svg-icon{
    fill: currentColor;
    }

.costomers-svg-icon:hover , 
.costomers-svg-icon:focus {
    fill: #404BBF;
}

.customer-svg-link:hover ,
.customer-svg-link:focus {color: #404BBF;}

.customer-svg-link{width: 168px;
    height: 88px;
    border: 1px solid currentColor;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.Customers-logo{border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-right: 24px;
    padding: 16px 32px;
    margin-bottom: 110px;}

footer{background-color: #2F303A;
    color:#FFFFFF ;
    padding:100px 156px ;}

.footer-logo{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-1);}

.footer_title{
    font-family: 'Roboto';
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin-top: 16px;}

.footer-logs{
    display: flex;}

.footer-logos{margin-left: 120px;}

.footer-logs-link{display: flex;
    gap: 16px;
    margin-top: 16px;}

.logo_footer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fuuter-input-title{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;}
    
.footer-input{margin-left: 80px;}

.footer-input-2{display: flex;
    flex-direction: column;}

.fuuter_input{width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc( 24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);}

.footer-button{background-color: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    gap: 16px;
    margin-left: 24px;
    margin-top: 40px;
    cursor: pointer;}

.footer-input-logo{fill: #ffffff;}

.ul-footer{display: flex;}

.footer-soc-title{font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;}

.logo_footer:hover ,
.logo_footer:focus {background-color: #31D0AA;}

.backdrop{width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-button{
    background-color: none}

.modal-close-button{
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.modal-close-button:hover ,
.modal-close-button:focus 
 {background-color: #404BBF;
    fill: #ffffff;}

.modal{position: absolute;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 480px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:72px 24px 24px ;
    }

.is-hidden{opacity: 0;
    visibility: hidden;
    pointer-events: none;}

.modal-title{
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.modal-input{width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;}
    
.modal-logo-use {
    position: relative;
    display: block;
}

.modal-input-logo{position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


.modal-input:focus{border-color: var(--color-1);}

.modal-input:focus + .modal-input-logo{
    fill: var(--color-1);
}

.modal-comment-input{width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-bottom: 96px;
    padding-top: 8px;
    resize: none;
    transition-property: border-color, color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}


.modal-comment-input:focus {
    border-color: var(--color-1);
}
.modal-comment-input:focus +
 .modal-comment-input::placeholder {color: var(--color-1);}

.modal-input-title{font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
    margin-top: 8px;
    display: inline-block;}

.accept-modal{display: flex;
    margin-top: 16px;
    margin-bottom: 24px;}

.privacy-title{
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #757575;
}

.privacy-title::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    display: block;}

.modal-privacy-accept:checked + .privacy-title::before{
    background-color: #4D5AE5;
    border: none;
    background-image: url(./img_css/modal-accept.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-ptivacy-link{color:#404BBF;}

.modal-send-btn{background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding: 16px 64px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


